* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: chocolate;
  height: 100svh;
  display: grid;
  grid-template-rows: 10% auto 5%;
}

header {
  background-color: rgba(255, 0, 0, 0.192);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

main {
  display: grid;
  background-color: rgba(255, 238, 0, 0.192);
}

section {
  height: 100svh;
}

footer {
  background-color: rgba(0, 255, 13, 0.192);
}

nav {
  align-content: center;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}
